//
//  civetweb.xcconfig
//  LiteCore
//
//  Created by Jens Alfke on 4/17/17.
//  Copyright © 2017 Couchbase. All rights reserved.
//

#include "static_lib.xcconfig"

GCC_PREFIX_HEADER            = $(SRCROOT)/../REST/civetweb.pch
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) NO_FILES NO_CGI NO_CACHING USE_IPV6 USE_WEBSOCKET
GCC_WARN_UNKNOWN_PRAGMAS     = NO
GCC_WARN_64_TO_32_BIT_CONVERSION = NO

HEADER_SEARCH_PATHS          = $(inherited) $(SRCROOT)/../vendor/fleece/Fleece

RUN_CLANG_STATIC_ANALYZER    = NO
CLANG_ANALYZER_DEADCODE_DEADSTORES = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = NO

WARNING_CFLAGS               = $(inherited) -Wno-unknown-warning-option
