//
//  CppTests.xcconfig
//  LiteCore
//
//  Created by Jens Alfke on 4/11/17.
//  Copyright 2017-Present Couchbase, Inc.
//
//  Use of this software is governed by the Business Source License included
//  in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
//  in that file, in accordance with the Business Source License, use of this
//  software will be governed by the Apache License, Version 2.0, included in
//  the file licenses/APL2.txt.
//

#include "Tests.xcconfig"

PRODUCT_NAME                = LiteCoreCppTests

HEADER_SEARCH_PATHS         = $(inherited)   $(SRCROOT)/../vendor/fleece/API   $(SRCROOT)/../vendor/fleece/Fleece/Support   $(SRCROOT)/../vendor/fleece/Fleece/Core   $(SRCROOT)/../vendor/SQLiteCpp/include/   $(SRCROOT)/../vendor/fleece/vendor/catch/   $(SRCROOT)/../vendor/fleece/vendor/date/include

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) LITECORE_CPP_TESTS=1

OTHER_LDFLAGS                = -lmbedtls -lmbedcrypto -lmbedx509

LLVM_LTO                    = NO    // LTO makes tests very slow to link and confuses Instruments
