//
//  CppTests.xcconfig
//  LiteCore
//
//  Created by Jens Alfke on 4/11/17.
//  Copyright © 2017 Couchbase. All rights reserved.
//

#include "Tests.xcconfig"

PRODUCT_NAME                = LiteCoreCppTests

HEADER_SEARCH_PATHS         = $(inherited)   $(SRCROOT)/../vendor/fleece/API   $(SRCROOT)/../vendor/fleece/Fleece/Support   $(SRCROOT)/../vendor/fleece/Fleece/Core   $(SRCROOT)/../vendor/SQLiteCpp/include/   $(SRCROOT)/../vendor/fleece/vendor/catch/   $(SRCROOT)/../vendor/fleece/vendor/date/include

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) LITECORE_CPP_TESTS=1

OTHER_LDFLAGS                = -lmbedtls -lmbedcrypto -lmbedx509

LLVM_LTO                    = NO    // LTO makes tests very slow to link and confuses Instruments
