//
//  LiteCoreWebSocket.xcconfig
//  LiteCore
//
//  Created by Jens Alfke on 5/10/19.
//  Copyright 2019-Present Couchbase, Inc.
//
//  Use of this software is governed by the Business Source License included
//  in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
//  in that file, in accordance with the Business Source License, use of this
//  software will be governed by the Apache License, Version 2.0, included in
//  the file licenses/APL2.txt.
//

#include "LiteCore.xcconfig"
#include "static_lib.xcconfig"

HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS)

LIBRARY_SEARCH_PATHS = $(inherited) $(LIBWEBSOCKETS)/build/lib  $(inherited) $(MBEDTLS)/build/library

WARNING_CFLAGS = $(inherited) -Wno-documentation-deprecated-sync // mbedTLS headers have Doxygen errors

OTHER_LDFLAGS = -all_load -lmbedtls -lmbedcrypto -lmbedx509

SKIP_INSTALL                 = YES
STRIP_INSTALLED_PRODUCT      = NO
