//
//  LiteCore-framework_Release.xcconfig
//  LiteCore
//
//  Created by Jens Alfke on 3/26/18.
//  Copyright 2018-Present Couchbase, Inc.
//
//  Use of this software is governed by the Business Source License included
//  in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
//  in that file, in accordance with the Business Source License, use of this
//  software will be governed by the Apache License, Version 2.0, included in
//  the file licenses/APL2.txt.
//


#include "LiteCore-framework.xcconfig"

DEPLOYMENT_POSTPROCESSING   = YES                   // Enable symbol stripping
STRIP_STYLE                 = non-global            // Leave only exported symbols
STRIP_INSTALLED_PRODUCT     = YES                   // Strip debug symbols
LD_GENERATE_MAP_FILE        = YES                   // Generate link map, to analyze code size
