//
//  LiteCore.xcconfig
//  LiteCore
//
//  Created by Jens Alfke on 4/21/17.
//  Copyright © 2017 Couchbase. All rights reserved.
//

//GCC_PREFIX_HEADER            = $(SRCROOT)/../LiteCore/Support/LiteCore-Prefix.pch
HEADER_SEARCH_PATHS          = $(inherited)   $(SRCROOT)/../vendor/fleece/API   $(SRCROOT)/../vendor/fleece/Fleece/Support   $(SRCROOT)/../vendor/fleece/Fleece/Core   $(SRCROOT)/../vendor/fleece/Fleece/Mutable   $(SRCROOT)/../vendor/SQLiteCpp/include/   $(SRCROOT)/../vendor/fleece/vendor/   $(SRCROOT)/../vendor/BLIP-Cpp/include/blip_cpp   $(SRCROOT)/../vendor/BLIP-Cpp/src/util  $(SRCROOT)/../LiteCore/Support
