//
//  LiteCore-framework.xcconfig
//  LiteCore
//
//  Created by Jens Alfke on 3/26/18.
//  Copyright 2018-Present Couchbase, Inc.
//
//  Use of this software is governed by the Business Source License included
//  in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
//  in that file, in accordance with the Business Source License, use of this
//  software will be governed by the Apache License, Version 2.0, included in
//  the file licenses/APL2.txt.
//

#include "LiteCore-dylib.xcconfig"

// TODO: Move to xcframework?
VALID_ARCHS[sdk=iphonesimulator*]                  = x86_64 i386

DEFINES_MODULE              = YES
EXECUTABLE_PREFIX           =
INFOPLIST_FILE              = LiteCore/Info.plist
PRODUCT_BUNDLE_IDENTIFIER   = com.couchbase.LiteCore
PRODUCT_NAME                = LiteCore
