//
//  Project_Release_EE.xcconfig
//  LiteCore
//
//  Created by Jens Alfke on 2/12/18.
//  Copyright 2018-Present Couchbase, Inc.
//
//  Use of this software is governed by the Business Source License included
//  in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
//  in that file, in accordance with the Business Source License, use of this
//  software will be governed by the Apache License, Version 2.0, included in
//  the file licenses/APL2.txt.
//

#include "Project_Release.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COUCHBASE_ENTERPRISE SQLITE_HAS_CODEC NDEBUG=1
// Overwrites the definition in Project_Release.xcconfig.
// If that one changes, update the above line accordingly!
