//
//  Replicator.xcconfig
//  LiteCore
//
//  Created by Jens Alfke on 2/13/17.
//  Copyright © 2017 Couchbase. All rights reserved.
//


CURRENT_PROJECT_VERSION     = 1
DEFINES_MODULE              = YES
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION       = 1
DYLIB_INSTALL_NAME_BASE     = @rpath
FRAMEWORK_VERSION           = A
HEADER_SEARCH_PATHS         = $(inherited) $(SRCROOT)/../vendor/BLIP-Cpp/include/blip_cpp $(SRCROOT)/../vendor/BLIP-Cpp/src/util $(SRCROOT)/../vendor/fleece/Fleece
INFOPLIST_FILE              = Replicator/Replicator-Info.plist
INSTALL_PATH                = $(LOCAL_LIBRARY_DIR)/Frameworks
LD_RUNPATH_SEARCH_PATHS     = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks
LIBRARY_SEARCH_PATHS        = $(inherited) /usr/local/lib
PRODUCT_BUNDLE_IDENTIFIER   = com.couchbase.Replicator
PRODUCT_NAME                = CouchbaseLiteReplicator
VERSIONING_SYSTEM           = apple-generic
VERSION_INFO_PREFIX         =
