//
//  REST.xcconfig
//  LiteCore
//
//  Created by Jens Alfke on 4/21/17.
//  Copyright © 2017 Couchbase. All rights reserved.
//

HEADER_SEARCH_PATHS          = $(inherited)   $(SRCROOT)/../vendor/fleece/vendor/date/include   $(SRCROOT)/../vendor/fleece/API   $(SRCROOT)/../vendor/fleece/Fleece/Support   $(SRCROOT)/../vendor/fleece/Fleece/Core   $(SRCROOT)/../vendor/SQLiteCpp/include/
