//
//  REST.xcconfig
//  LiteCore
//
//  Created by Jens Alfke on 4/21/17.
//  Copyright 2017-Present Couchbase, Inc.
//
//  Use of this software is governed by the Business Source License included
//  in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
//  in that file, in accordance with the Business Source License, use of this
//  software will be governed by the Apache License, Version 2.0, included in
//  the file licenses/APL2.txt.
//

HEADER_SEARCH_PATHS          = $(inherited)   $(SRCROOT)/../vendor/fleece/vendor/date/include   $(SRCROOT)/../vendor/fleece/API   $(SRCROOT)/../vendor/fleece/Fleece/Support   $(SRCROOT)/../vendor/fleece/Fleece/Core   $(SRCROOT)/../vendor/SQLiteCpp/include/   $(SRCROOT)/../C/Cpp_include
