//
//  SQLite.xcconfig
//  LiteCore
//
//  Created by Jens Alfke on 8/14/17.
//  Copyright © 2017 Couchbase. All rights reserved.
//

#include "static_lib.xcconfig"

EXECUTABLE_PREFIX            = lib

// Disable warnings triggered by SQLite source code
GCC_TREAT_WARNINGS_AS_ERRORS = NO
GCC_WARN_SHADOW              = NO
OTHER_CFLAGS                 = $(inherited) -Wno-ambiguous-macro -Wno-conversion -Wno-comma -Wno-conditional-uninitialized -Wno-unreachable-code -Wno-strict-prototypes -Wno-missing-prototypes -Wno-unused-function

// Compile options are described at <http://www.sqlite.org/compile.html>
// SQLITE_HAS_CODEC and SQLCIPHER_CRYPTO_CC were added for SQLCipher;
// also had to take out SQLITE_OMIT_DEPRECATED because SQLCipher calls sqlite3_profile.
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) SQLITE_DEFAULT_WAL_SYNCHRONOUS=1 SQLITE_LIKE_DOESNT_MATCH_BLOBS SQLITE_OMIT_SHARED_CACHE SQLITE_OMIT_DECLTYPE SQLITE_OMIT_DATETIME_FUNCS SQLITE_ENABLE_EXPLAIN_COMMENTS SQLITE_ENABLE_FTS4 SQLITE_ENABLE_FTS3_TOKENIZER SQLITE_DISABLE_FTS3_UNICODE SQLITE_ENABLE_LOCKING_STYLE SQLITE_ENABLE_MEMORY_MANAGEMENT SQLITE_ENABLE_STAT4 SQLITE_OMIT_LOAD_EXTENSION SQLITE_HAVE_ISNAN SQLITE_HAS_CODEC SQLCIPHER_CRYPTO_CC HAVE_GMTIME_R HAVE_LOCALTIME_R HAVE_USLEEP HAVE_UTIME

// Static analysis of sqlite3.c takes a VERY LONG TIME, so don't do it
RUN_CLANG_STATIC_ANALYZER    = NO
