//
//  SQLite.xcconfig
//  LiteCore
//
//  Created by Jens Alfke on 8/14/17.
//  Copyright 2017-Present Couchbase, Inc.
//
//  Use of this software is governed by the Business Source License included
//  in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
//  in that file, in accordance with the Business Source License, use of this
//  software will be governed by the Apache License, Version 2.0, included in
//  the file licenses/APL2.txt.
//

#include "static_lib.xcconfig"

EXECUTABLE_PREFIX            = lib

// Disable warnings triggered by SQLite source code
GCC_TREAT_WARNINGS_AS_ERRORS = NO
GCC_WARN_SHADOW              = NO
OTHER_CFLAGS                 = $(inherited) -Wno-ambiguous-macro -Wno-conversion -Wno-comma -Wno-conditional-uninitialized -Wno-unreachable-code -Wno-strict-prototypes -Wno-missing-prototypes -Wno-unused-function -Wno-atomic-implicit-seq-cst

// Compile options are described at <http://www.sqlite.org/compile.html>
SQLITE_PREPROCESSOR_DEFINITIONS = SQLITE_DEFAULT_WAL_SYNCHRONOUS=1 SQLITE_LIKE_DOESNT_MATCH_BLOBS SQLITE_OMIT_SHARED_CACHE SQLITE_OMIT_DECLTYPE SQLITE_OMIT_DATETIME_FUNCS SQLITE_ENABLE_EXPLAIN_COMMENTS SQLITE_ENABLE_FTS4 SQLITE_ENABLE_FTS3_TOKENIZER SQLITE_ENABLE_FTS3_PARENTHESIS SQLITE_DISABLE_FTS3_UNICODE SQLITE_ENABLE_LOCKING_STYLE SQLITE_ENABLE_MEMORY_MANAGEMENT SQLITE_ENABLE_STAT4 SQLITE_HAVE_ISNAN HAVE_GMTIME_R HAVE_LOCALTIME_R HAVE_USLEEP HAVE_UTIME SQLITE_PRINT_BUF_SIZE=200 SQLITE_OMIT_DEPRECATED SQLITE_DQS=0

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(SQLITE_PREPROCESSOR_DEFINITIONS)

// Static analysis of sqlite3.c takes a VERY LONG TIME, so don't do it in regular builds.
// We can't suppress it entirely when a dependent target is doing an Analyze operation,
// but turn off as much of it as we can.
RUN_CLANG_STATIC_ANALYZER    = NO
CLANG_STATIC_ANALYZER_MODE_ON_ANALYZE_ACTION = shallow
CLANG_ANALYZER_DEADCODE_DEADSTORES = NO
CLANG_ANALYZER_GCD = NO
CLANG_ANALYZER_LOCALIZABILITY_EMPTY_CONTEXT = NO
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = NO
CLANG_ANALYZER_MEMORY_MANAGEMENT = NO
CLANG_ANALYZER_NONNULL = NO
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = NO
CLANG_ANALYZER_OBJC_COLLECTIONS = NO
CLANG_ANALYZER_OBJC_NSCFERROR = NO
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_GETPW_GETS = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_MKSTEMP = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_UNCHECKEDRETURN = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_VFORK = NO
CLANG_ANALYZER_SECURITY_KEYCHAIN_API = NO
