//
//  SQLite_Release.xcconfig
//  LiteCore
//
//  Created by Jens Alfke on 8/14/17.
//  Copyright 2017-Present Couchbase, Inc.
//
//  Use of this software is governed by the Business Source License included
//  in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
//  in that file, in accordance with the Business Source License, use of this
//  software will be governed by the Apache License, Version 2.0, included in
//  the file licenses/APL2.txt.
//

#include "SQLite.xcconfig"


// Compile options are described at <http://www.sqlite.org/compile.html>. This extends the options
// set in SQLite.xcconfig:
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(SQLITE_PREPROCESSOR_DEFINITIONS) SQLITE_DEFAULT_MEMSTATUS=0
