//
//  Tests.xcconfig
//  LiteCore
//
//  Created by Jens Alfke on 9/19/16.
//  Copyright 2016-Present Couchbase, Inc.
//
//  Use of this software is governed by the Business Source License included
//  in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
//  in that file, in accordance with the Business Source License, use of this
//  software will be governed by the Apache License, Version 2.0, included in
//  the file licenses/APL2.txt.
//

CLANG_WARN__EXIT_TIME_DESTRUCTORS           = NO
GCC_WARN_UNKNOWN_PRAGMAS                    = NO
OTHER_LDFLAGS                               = -all_load // Prevents dead-stripping of reporters from libCatch2.a
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND    = NO

// configs including this still need to define CODE_SIGNING_ALLOWED=YES to actually sign.
//CODE_SIGN_IDENTITY = Apple Development
//CODE_SIGN_IDENTITY[sdk=macosx*] = Mac Developer
//CODE_SIGN_STYLE = Manual
//DEVELOPMENT_TEAM = N2Q372V7W2                           // Couchbase
//PROVISIONING_PROFILE_SPECIFIER =
