.DS_Store
*~
*.xccheckout
xcuserdata/
build/
DerivedData/
*.userprefs
bin/
obj/
[dD]ebug
*.o
*.class
packages/
*.sdf
*.opensdf
[Rr]elease
*.xcscmblueprint
CSharp/prebuilt/*
!CSharp/prebuilt/README.txt
stripopts
Java/jni/com_couchbase_cbforest_*.h
