[submodule "vendor/sqlite3-unicodesn"]
	path = vendor/sqlite3-unicodesn
	url = https://github.com/snej/sqlite3-unicodesn.git
[submodule "vendor/openssl"]
	path = vendor/openssl
	url = https://github.com/couchbaselabs/couchbase-lite-libcrypto
[submodule "vendor/fleece"]
	path = vendor/fleece
	url = https://github.com/couchbaselabs/fleece.git
[submodule "vendor/SQLiteCpp"]
	path = vendor/SQLiteCpp
	url = https://github.com/couchbasedeps/SQLiteCpp.git
[submodule "vendor/BLIP-Cpp"]
	path = vendor/BLIP-Cpp
    url=https://github.com/couchbaselabs/BLIP-Cpp.git
[submodule "vendor/civetweb"]
	path = vendor/civetweb
	url = https://github.com/civetweb/civetweb.git
