.DS_Store
*~
*.xccheckout
xcuserdata/
build/
DerivedData/
*.userprefs
bin/
obj/
[dD]ebug
*.o
*.class
packages/
*.sdf
*.opensdf
[Rr]elease
*.xcscmblueprint
CSharp/prebuilt/*
!CSharp/prebuilt/README.txt
stripopts
Java/jni/com_couchbase_cbforest_*.h
*VC.*db
/C/Documentation
Debug_Static/
Release_Static/
CSharp/.vscode
CSharp/test/LiteCore.Tests/.vscode
CSharp/native
/build_cmake
Release_Testing/
Debug_Testing/
