*~
*.o
.DS_Store
bin/
obj/

# Xcode:
*.xccheckout
*.xcscmblueprint
*.userprefs
xcuserdata/
build/
DerivedData/

# CMake:
/build_cmake/*
!/build_cmake/scripts
stripopts
empty.cpp

# Huge performance-test files that have to be manually installed:
C/tests/data/geoblocks.json
C/tests/data/names_300000.json

# Visual Studio / C#
*VC.*db
!CSharp/prebuilt/README.txt
.vscode/
CSharp/native
project.lock.json
*.cs.template

# Misc / Uncategorized:
*.sdf
*.opensdf
packages/
/C/Documentation
*.pyc
