sudo: false
language: cpp

matrix:
  include:
    - compiler: gcc
      dist: xenial
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env: 
        - CXX_COMPILER=g++-7
        - C_COMPILER=gcc-7
    - compiler: gcc
      dist: xenial
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-9
      env: 
        - CXX_COMPILER=g++-9
        - C_COMPILER=gcc-9
    - compiler: clang
      dist: xenial
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-xenial-7
          packages:
            - clang-5.0
            - g++-7
      env: 
        - CXX_COMPILER=clang++-5.0
        - C_COMPILER=clang-5.0
    - compiler: clang
      dist: xenial
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-xenial-8
          packages:
            - clang-8
            - g++-9
      env: 
        - CXX_COMPILER=clang++-8
        - C_COMPILER=clang-8
    - os: osx
      osx_image: xcode11
      env:
        - CXX_COMPILER=clang++
        - C_COMPILER=clang

before_script:
  - uname -a
  - cmake --version
  - $C_COMPILER --version
script:
  - CC=$C_COMPILER CXX=$CXX_COMPILER ./build_cmake/scripts/build_unix.sh
