# Copyright 2021-Present Couchbase, Inc.
#
# Use of this software is governed by the Business Source License included in
# the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
# file, in accordance with the Business Source License, use of this software
# will be governed by the Apache License, Version 2.0, included in the file
# licenses/APL2.txt.

name: Build And Test

on:
  push:
    branches:
      - master
      - dev
      - 'release/*'
  pull_request:
    branches:
      - '**'

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  # NOTE: If we decide to archive the build products we should build with RelWithDebInfo instead.
  BUILD_TYPE: Debug

jobs:
  build:
    # Build/test on Ubuntu Linux + GCC, macOS + Apple Clang, Windows + MSVC.
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

#### BUILD

    - name: Setup SSH (Ubuntu / MacOS)
      if: runner.os != 'Windows'
      working-directory: ${{github.workspace}}
      run: |
        eval "$(ssh-agent -s)"
        ssh-add - <<< '${{ secrets.EE_SSH_KEY }}'

    - name: Setup SSH (Windows)
      if: runner.os == 'Windows'
      working-directory: ${{github.workspace}}
      run: |
        Get-Service -Name ssh-agent | Set-Service -StartupType Manual
        Start-Service ssh-agent
        ssh-add - <<< '${{ secrets.EE_SSH_KEY }}'

    - name: Clone EE PR Branch
      id: clone-ee-pr
      if: '${{github.event_name}}' == 'pull_request'
      continue-on-error: true
      working-directory: ${{github.workspace}}/..
      run: git clone git@github.com:couchbase/couchbase-lite-core-EE --branch ${{github.head_ref}} --recursive --depth 1

    - name: Clone EE Target Branch
      if: '${{github.event_name}}' == 'push' || ${{ steps.clone-ee-pr.conclusion == 'failure' }}
      working-directory: ${{github.workspace}}/..
      run: git clone git@github.com:couchbase/couchbase-lite-core-EE --branch ${{github.base_ref}} --recursive --depth 1

    - name: Create Build Environment
      # Create a build directory, as our working directory for all subsequent commands
      working-directory: ${{github.workspace}}
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Configure CMake
      # "Note the current convention is to use the -S and -B options here to specify source
      # and build directories, but this is only available with CMake 3.13 and higher.
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12"
      if: runner.os != 'Windows'
      working-directory: ${{github.workspace}}/build
      run: cmake .. -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DBUILD_ENTERPRISE=ON

    - name: Configure CMake (Windows)
      # "Note the current convention is to use the -S and -B options here to specify source
      # and build directories, but this is only available with CMake 3.13 and higher.
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12"
      if: runner.os == 'Windows'
      working-directory: ${{github.workspace}}/build
      run: cmake .. -A x64 -DBUILD_ENTERPRISE=ON

    - name: Build
      # Use cmake to build -- this will invoke `make` on Linux/Mac, Visual Studio on Windows.
      working-directory: ${{github.workspace}}/build
      run: cmake --build . --config $env:BUILD_TYPE

#### TEST

    - name: Install French Locale On Linux
      if: runner.os == 'Linux'
      shell: bash
      # One of the Fleece tests needs the French locale installed.
      run: sudo localedef -v -c -i fr_FR -f UTF-8 fr_FR

    - name: Test
      if: runner.os != 'Windows'
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: |
        pushd LiteCore/tests
        ./CppTests -r quiet
        popd
        echo "\n\n"
        pushd C/tests
        ./C4Tests -r quiet
        popd

    - name: Test On Windows
      if: runner.os == 'Windows'
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: |
        mkdir -p /c/tmp
        pushd LiteCore/tests/$BUILD_TYPE
        ./CppTests.exe -r quiet
        popd
        echo "\n\n"
        pushd C/tests/$BUILD_TYPE
        ./C4Tests.exe -r quiet
        popd
