# Copyright 2021-Present Couchbase, Inc.
#
# Use of this software is governed by the Business Source License included in
# the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
# file, in accordance with the Business Source License, use of this software
# will be governed by the Apache License, Version 2.0, included in the file
# licenses/APL2.txt.

name: Check Submodules

on:
  pull_request:
    branches:
      - '**'

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Check Submodules
      working-directory: ${{github.workspace}}/build_cmake/scripts
      run: |
        pip install termcolor
        ./check_deps.py $GITHUB_BASE_REF
