---
name: Lint Code Base

#############################
# Start the job on all push #
#############################
on:
  push:
    branches: [master, dev, 'release/*']
    # Remove the line above to run when pushing to master
  pull_request:
    branches: ['**']

env:
  BUILD_TYPE: Debug

###############
# Set the Job #
###############
jobs:
  formatting-check:
    # Name the Job
    name: Formatting Check
    # Set the agent to run on
    runs-on: ubuntu-latest
    ##################
    # Load all steps #
    ##################
    steps:
      ##########################
      # Checkout the code base #
      ##########################
      - name: Checkout Code
        uses: actions/checkout@v3
      ################################
      # Run Linter against code base #
      ################################
      - name: Lint Code Base
        uses: jidicula/clang-format-action@v4.11.0
        with:
          clang-format-version: '17'
          check-path: '.'
          exclude-regex: '(cmake|docs|jenkins|licenses|modules|tools|vendor|wiki|Xcode|n1ql.cc|MSVC)'
