# Copyright 2021-Present Couchbase, Inc.
#
# Use of this software is governed by the Business Source License included in
# the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
# file, in accordance with the Business Source License, use of this software
# will be governed by the Apache License, Version 2.0, included in the file
# licenses/APL2.txt.

name: Xcode Build

on:
  push:
    branches:
      - master
      - dev
      - 'release/*'
      - 'next/*'
  pull_request:
    branches:
      - '**'

env:
  # Customize the Xcode configuration here (Release or Debug)
  # NOTE: If we decide to archive the build products we should build with RelWithDebInfo instead.
  CONFIGURATION: Debug

jobs:
  build:
    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

#### BUILD

    - name: "Build C++ Tests"
      uses: sersoft-gmbh/xcodebuild-action@v1
      with:
        project: Xcode/LiteCore.xcodeproj
        scheme: LiteCore C++ Tests
        destination: platform=macOS
        configuration: $CONFIGURATION
        action: build

    - name: "Build C4Tests"
      uses: sersoft-gmbh/xcodebuild-action@v1
      with:
        project: Xcode/LiteCore.xcodeproj
        scheme: LiteCore C Tests
        destination: platform=macOS
        configuration: $CONFIGURATION
        action: build
